@using WebFileManager.Models

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Code Editor - @ViewBag.Title</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/base/jquery-ui.css" type="text/css" media="all" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker.css" rel="Stylesheet" />
    <!-- Fonts -->
    <link href='//fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/js/bootstrap-switch.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/css/bootstrap3/bootstrap-switch.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
    <link href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Scripts/jquery.contextMenu.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/jquery.contextMenu.css" />
    <script type="text/javascript" src="~/Scripts/date-en-US.js"></script>
    <script type="text/javascript" src="~/Scripts/Ribbon.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/Ribbon.css" />
    <script type="text/javascript" src="~/Scripts/app.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/app.css" />


    <!--<script src="http://cdn.jquerytools.org/1.2.7/tiny/jquery.tools.min.js"></script>-->
    <!-- Scripts -->
    @RenderSection("Header", false)
</head>
<body>
    <div class="container-fluid">
        @if (ViewBag.globals != null)
        {
        <span id="logged_in" style="display:none;">@ViewBag.globals.current_user.name</span>
        }
        else
        {
            <span id="logged_in" style="display:none;"></span>
        }
        <div id="ribbon"></div>
        @if (ViewBag.flash != null)
        {
            foreach (FlashMessage flash in ViewBag.flash)
            {
                <div class="alert alert-@flash.Category" role="alert">
                    @flash.Message
                </div>
            }
        }

        @RenderBody()
</div>
    @if (ViewBag.globals != null)
    {
    <div class="modal fade" id="new_item_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div id="new_item_modal_loading" style="text-align:center;display:none;">
                    <img src="/Content/img/ajax-loader.gif" alt="Loading" />
                    <div id="new_item_modal_loading_action"></div>
                </div>
                <div id="new_item_modal_content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">New <span id="new_item_title"></span></h4>
                    </div>
                    <div class="modal-body">
                        <form class="form form-horizontal" id="new_item_form" action="" method="POST" onSubmit="NewItemSubmit();return false;">
                            <div class="form-group">
                                <div class="col-lg-12 input-group">
                                    <span class="input-group-addon" id="new_item_current_folder"></span>
                                    <input type="text" name="new_item_name" id="new_item_name" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-12">
                                    <input type="checkbox" id="go_to_item" name="go_to_item" value="1" />&nbsp;<span id="go_to_item_text"></span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" onClick="NewItemSubmit();" class="btn btn-primary">
                            Submit</button>
                            <button type="button" class="btn btn-default" onClick="ResetModal('new_item_modal');" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="copy_move_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div id="copy_move_modal_loading" style="text-align:center;display:none;">
                    <img src="/Content/img/ajax-loader.gif" alt="Loading" />
                    <div id="copy_move_modal_loading_action"></div>
                </div>
                <div id="copy_move_modal_content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><span id="copy_move_title"></span> Item</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form form-horizontal" id="copy_move_form" action="" method="POST" onSubmit="CopyMoveSubmit();return false;">
                            <input type="hidden" name="copy_move_dest_path" id="copy_move_dest_path" value="@ViewBag.globals.current_folder" />
                            <input type="hidden" name="copy_move_file" id="copy_move_file" value="" />
                            <input type="hidden" name="copy_move_action" id="copy_move_action" value="" />
                            <div class="form-group">
                                <div class="col-lg-12">
                                    <input type="checkbox" id="copy_move_overwrite" name="copy_move_overwrite" value="1" checked />&nbsp;Overwrite Existing Files
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-2" for="copy_move_folders">Destination:</label>
                                <div class="col-lg-10" id="copy_move_folders">
                                    <ul>
                                        <li class="jstree-open">
                                            <a href="@ViewBag.globals.root_folder" class="jstree-clicked"><strong>@ViewBag.globals.root_folder</strong></a>
                                            @Html.Raw(ViewBag.items)
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" onClick="CopyMoveSubmit();" class="btn btn-primary">
                            Submit</button>
                            <button type="button" class="btn btn-default" onClick="ResetModal('copy_move_modal');" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="upload_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div id="upload_modal_loading" style="text-align:center;display:none;">
                    <img src="/Content/img/ajax-loader.gif" alt="Loading" />
                    <div id="upload_modal_loading_action"></div>
                </div>
                <div id="upload_modal_content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Upload File</h4>
                    </div>
                    <div class="modal-body">
                        @using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { @class = "form form-horizontal", id = "upload_form", enctype = "multipart/form-data" }))
                            {
                        @model WebFileManager.Models.ViewModels.UploadViewModel
                        @Html.HiddenFor(x => x.DestinationPath, new { value = @ViewBag.globals.current_folder })
                            <div class="form-group">
                                <label class="control-label col-lg-2" for="upload_folders">Overwrite Existing:</label>
                                <div class="col-lg-10">
                                    @Html.CheckBoxFor(x => x.Overwrite)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-2" for="upload_folders">Select File:</label>
                                <div class="col-lg-10">
                                    @Html.TextBoxFor(x => x.Files, new { type = "file", name = "Files" })
                                </div>
                            </div>
                        
                        }
                    </div>
                    <div class="modal-footer">
                        <button type="button" onClick="SubmitForm('upload');" class="btn btn-primary">
                            Submit</button>
                            <button type="button" class="btn btn-default" onClick="ResetModal('upload_modal');" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="delete_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div id="delete_modal_loading" style="text-align:center;display:none;">
                    <img src="/Content/img/ajax-loader.gif" alt="Loading" />
                    <div id="delete_modal_loading_action"></div>
                </div>
                <div id="delete_modal_content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Delete <span id="delete_title"></span> Items</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form form-horizontal" id="delete_form" action="" method="POST" onSubmit="DeleteSubmit();return false;">
                            <input type="hidden" name="delete_dest_path" id="delete_dest_path" value="@ViewBag.globals.current_folder" />
                            <h4>Are you sure?</h4>
                            <p>Deleting these files and folders may negatively affect sites or processing. Make sure you have selected the correct files and folder before hitting Submit below. This operation cannot be undone.</p>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" onClick="DeleteSubmit();" class="btn btn-primary">
                            Submit</button>
                            <button type="button" class="btn btn-default" onClick="ResetModal('delete_modal');" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="properties_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div id="properties_modal_loading" style="text-align:center;display:none;">
                    <img src="/Content/img/ajax-loader.gif" alt="Loading" />
                    <div id="properties_modal_loading_action"></div>
                </div>
                <div id="properties_modal_content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Properties</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form form-horizontal" id="properties_form" action="" method="POST" onSubmit="return false;">
                            <div class="media">
                                <div class="media-left">
                                    <img id="properties_icon" width="48" />
                                </div>
                                <div class="media-body">
                                    <strong><span id="properties_name"></span></strong><br />
                                    Type: <span id="properties_mime"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    Size: <span id="properties_size"></span><br />
                                    Owned By: <span id="properties_owner"></span><br />
                                    Created: <span id="properties_created"></span><br />
                                    Last Modified: <span id="properties_modified"></span><br />
                                    Last Accessed: <span id="properties_accessed"></span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" onClick="ResetModal('properties_modal');" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="rename_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div id="rename_modal_loading" style="text-align:center;display:none;">
                    <img src="/Content/img/ajax-loader.gif" alt="Loading" />
                    <div id="rename_modal_loading_action"></div>
                </div>
                <div id="rename_modal_content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Rename File</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form form-horizontal" id="rename_form" action="" method="POST" onSubmit="RenameFileSubmit();return false;">
                            <input type="hidden" name="rename_file" id="rename_file" value="" />
                            <div class="form-group">
                                <div class="col-lg-12 input-group">
                                    <span class="input-group-addon" id="rename_current_folder"></span>
                                    <input type="text" name="rename_name" id="rename_name" class="form-control" />
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" onClick="RenameFileSubmit();" class="btn btn-primary">
                            Submit</button>
                            <button type="button" class="btn btn-default" onClick="ResetModal('rename_modal');" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="compress_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div id="compress_modal_loading" style="text-align:center;display:none;">
                    <img src="/Content/img/ajax-loader.gif" alt="Loading" />
                    <div id="compress_modal_loading_action"></div>
                </div>
                <div id="compress_modal_content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Compress <span id="compress_file_count"></span> File(s)</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form form-horizontal" id="compress_form" action="" method="POST" onSubmit="CompressSubmit();return false;">
                            <div class="form-group">
                                <div class="col-lg-12 input-group">
                                    <span class="input-group-addon" id="compress_current_folder"></span>
                                    <input type="text" name="compress_name" id="compress_name" class="form-control" />&nbsp;
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="compress_type" class="control-label col-lg-2">Type:</label>
                                <div class="col-lg-10 input-group">
                                    <select name="compress_type" id="compress_type" class="form-control">
                                        <option value="tar.gz">.tar.gz</option>
                                        <option value="zip">.zip</option>
                                        <option value="rar">.rar</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-12">
                                    <input type="checkbox" id="compress_overwrite" name="compress_overwrite" value="1" checked />&nbsp;Overwrite Existing Archive
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" onClick="CompressSubmit();" class="btn btn-primary">
                            Submit</button>
                            <button type="button" class="btn btn-default" onClick="ResetModal('compress_modal');" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="extract_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div id="extract_modal_loading" style="text-align:center;display:none;">
                    <img src="/Content/img/ajax-loader.gif" alt="Loading" />
                    <div id="extract_modal_loading_action"></div>
                </div>
                <div id="extract_modal_content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Extract <span id="extract_title"></span></h4>
                    </div>
                    <div class="modal-body">
                        <form class="form form-horizontal" id="extract_form" action="" method="POST" onSubmit="ExtractSubmit();return false;">
                            <input type="hidden" name="extract_dest_path" id="extract_dest_path" value="@ViewBag.globals.current_folder" />
                            <input type="hidden" name="extract_file" id="extract_file" value="" />
                            <div class="form-group">
                                <div class="col-lg-12">
                                    <input type="checkbox" id="extract_overwrite" name="extract_overwrite" value="1" checked />&nbsp;Overwrite Existing Files
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-12">
                                    <input type="checkbox" id="extract_go_to_item" name="extract_go_to_item" value="1" checked />&nbsp;Open Folder after Extracted
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-2" for="extract_folders">Destination:</label>
                                <div class="col-lg-10" id="extract_folders">
                                    <ul>
                                        <li class="jstree-open">
                                            <a href="@ViewBag.globals.root_folder" class="jstree-clicked"><strong>@ViewBag.globals.root_folder</strong></a>
                                            @Html.Raw(ViewBag.items)
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" onClick="ExtractSubmit();" class="btn btn-primary">
                            Submit</button>
                            <button type="button" class="btn btn-default" onClick="ResetModal('extract_modal');" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="tfs_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div id="tfs_modal_loading" style="text-align:center;display:none;">
                    <img src="/Content/img/ajax-loader.gif" alt="Loading" />
                    <div id="tfs_modal_loading_action"></div>
                </div>
                <div id="tfs_modal_content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Commit Changes to TFS</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form form-horizontal" id="tfs_form" action="" method="POST" onSubmit="TFSCommitSubmit();return false;">
                            <div class="form-group">
                                <label for="tfs_commit_message" class="control-label col-lg-2">Commit Comments</label>
                                <div class="col-lg-10">
                                    <input type="text" name="tfs_commit_message" id="tfs_commit_message" class="form-control" />
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" onClick="TFSCommitSubmit();" class="btn btn-primary">
                            Submit</button>
                            <button type="button" class="btn btn-default" onClick="ResetModal('tfs_modal');" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
</body>
</html>

